@*@model SkynetzMVC.Controllers.DTO.ResultDTO*@
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*<div>
        <label for="source">Origem:</label>
        <select name="soucers" id="source">
            <option value="011">011</option>
            <option value="016">016</option>
            <option value="017">017</option>
            <option value="018">018</option>
        </select>
    </div>
    <div>
        <label for="destination">Destino:</label>
        <select name="destinations" id="destination">
            <option value="011">011</option>
            <option value="016">016</option>
            <option value="017">017</option>
            <option value="018">018</option>
        </select>
    </div>
    <div>
        <label for="usedMinutes">Minutos Usados:</label>
        <input type="text" id="usedMinutes" />
    </div>
    <div>
        <label for="plan">Plano:</label>
        <select name="plans" id="plan">
            <option value="FaleMais 30">FaleMais 30</option>
            <option value="FaleMais 60">FaleMais 60</option>
            <option value="FaleMais 120">FaleMais 120</option>
        </select>
    </div>
    <div>
        <label for="priceWithPlan">Preço com FaleMais:</label>
        <input type="text" id="priceWithPlan" />
    </div>
    <div>
        <label for="priceWithoutPlan">Preço sem FaleMais:</label>
        <input type="text" id="priceWithoutPlan" />
    </div>*@
</div>
